<html>
  <head>
    <title>Account Credentials</title>
  </head>
  <body>
    <h1>Hi {{firstName}},</h1>
    <p>
      Thank you for creating your account! Please find your account details
      below:
    </p>
    <ul>
      <li><strong>FirstName:</strong> {{firstName}}</li>
      <li><strong>LastName:</strong> {{lastName}}</li>
      <li><strong>Email:</strong> {{email}}</li>
      <li><strong>Password:</strong> {{password}}</li>
    </ul>
    <p>
      You can use the above credentials to log in at the link:
      <a
        href="https://video-dashboarding.netlify.app/login"
        target="_blank"
      >Login to Your Account</a>
    </p>
    <p>Happy Dashboarding!</p>
    <br />
    <p>
      Thanks & Regards,<br />
      Seerapu Nehemiah<br />
      +91-8885172580
    </p>
  </body>
</html>